<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- TailwindCSS -->
  <link rel="stylesheet" href="/src/css/output.css">
  <!-- Flowbite -->
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

</head>

<body>
  <header>

  </header>
  <main class="mx-auto flex-col border border-red-500 w-screen">
    <div class="flex-col border border-green-600 m-2">
      <form action="" class="border border-blue-700 m-2 p-2 flex-col">
        <label for="nombreUsuario">Nombre de Usuario</label>
        <br>
        <input type="text" name="nombreUsuario" id="IDnombreUsuario" placeholder="Nombre de Usuario">
        <br>
        <label for="contrasenaUsuario">Contraseña</label>
        <br>
        <input type="password" name="contrasenaUsuario" id="IDcontrasenaUsuario" placeholder="********">
        <br>
        <input type="submit" value="Ingresar"
          class="bg-blue-600 rounded-md my-2 p-2 text-white font-bold hover:bg-blue-800  cursor-pointer">
      </form>
    </div>
    <div class="border border-green-600 m-2">
      <p>¿Nuevo Ususario? <a href="registrarUsuario.html" class="hover:underline hover:text-blue-700"> Registrar
          Usuario</a>
      </p>
    </div>



  </main>
  <footer>

  </footer>
  <!-- Flowbite -->
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

</body>

</html>