<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- TailwindCSS -->
  <link rel="stylesheet" href="/src/css/output.css">
</head>

<body>
  <header>

  </header>
  <main>
    <!-- Registro de usuarios -->
    <div>
      <form action="">

        <label for="nombreRegistroUsuario">Nombre</label>
        <br>
        <input type="text" name="nombreRegistroUsuario" id="IDnombreRegistroUsuario" placeholder="Nombre de Usuario">
        <br>
        <label for="generoRegistroUsuario">Género</label>
        <br>
        <select name="generoRegistroUsuario" id="generoRegistroUsuario">
          <option value="1">Mujer</option>
          <option value="2">Hombre</option>
        </select>
        <br>
        <label for="tipoUsuario">Tipo de Usuario</label>
        <br>
        <select name="tipoUsuario" id="tipoUsuario">
          <option value="1">Director</option>
          <option value="2">Bailarín</option>
          <option value="3">Soporte</option>
        </select>
        <br>
        <input type="submit" value="Registrar">

      </form>
    </div>

  </main>
  <footer>

  </footer>

</body>

</html>